body{
    margin: 0;
    background-color: #2B2B2B;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: whitesmoke;
}

header{
    background-color: #2B2B2B;
    color: red;
    text-align: center;
    padding: 10px;
}
header h1{
    margin: 0;
}

header p {
    margin-top: 5px;
}

main{
    width: 90%;
    max-width: 600px;
    margin: 20px auto;
}
 .titulo{
    background-color: rgb(230, 230, 230);
    padding: 5px;
    border: 1px aliceblue; 
    border-radius: 10px;
 }
 .titulo h2{
    text-align: center;
    color: antiquewhite;
    margin-top: 0;
 }
 .Sinopse{
    background-color: red;
    padding: 2px;
    border: 1px red;
    border-radius: 20px;
    text-align: center;
 }
 .info{
    background-color: red;
    padding: 2px;
    border:1px red ;
    border-radius: 20px;
    text-align: center;
 }
 .elenco{
    background-color: red;
    padding: 2px;
    border: 1px red;
    border-radius: 20px;
    text-align: center;
 }
 .sobre{
    background-color: red;
    padding: 2px;
    border: 1px red;
    border-radius: 20px;
    text-align: center;
 }
 .trailler{
    background-color: red;
    padding: 2px;
    border: 1px red;
    border-radius: 20px;
    text-align: center;
 }

button{
    width: 100%;
    margin-top: 25px;
    padding: 12px;
    background-color: red;
    color: antiquewhite;
    border: none;
    border-radius: 25px;
    font-size: 15px;
    cursor: pointer;
}
button a{
    text-decoration: none;
}
.Foto {
    width: 100%;
}

footer{
    text-align: center;
    padding: 25px;
    color: antiquewhite;
}
